In [1]:
import pandas as pd
import numpy as np

**2015**  **DATAFRAME 1**

In [2]:

df= pd.read_csv('data/raw_data/2015.csv')
df.shape

(158, 12)

In [3]:
df.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [4]:
df.head(2)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201

In [5]:
df = df.drop(columns=['Region','Standard Error','Dystopia Residual'])
df.head(1)

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678

In [6]:
dflimpio = df.rename(columns={'Happiness Rank': 'Overall rank', 'Happiness Score': 'Score','Family':'Social Support','Economy (GDP per Capita)':'GDP per capita','Trust (Government Corruption)':'Perceptions of corruption'})
dflimpio.head(2)

,Country,Overall rank,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Perceptions of corruption,Generosity
0,Switzerland,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630

In [7]:
df1final = dflimpio.reindex(columns=['Overall rank','Country','Score','GDP per capita','Social Support','Health (Life Expectancy)','Freedom','Generosity','Perceptions of corruption'])
df1final

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145
2,3,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357
3,4,Norway,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503
4,5,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957
...,...,...,...,...,...,...,...,...,...
153,154,Rwanda,3.465,0.22208,0.77370,0.42864,0.59201,0.22628,0.55191
154,155,Benin,3.340,0.28665,0.35386,0.31910,0.48450,0.18260,0.08010
155,156,Syria,3.006,0.66320,0.47489,0.72193,0.15684,0.47179,0.18906
156,157,Burundi,2.905,0.01530,0.41587,0.22396,0.11850,0.19727,0.10062
157,158,Togo,2.839,0.20868,0.13995,0.28443,0.36453,0.16681,0.10731

In [8]:
df1final.shape

(158, 9)

In [9]:
df1limpio= df1final

In [10]:
df1final.to_excel("2015limpio.xlsx") # TERMINADO PARECE

**DATAFRAME 2** **2016**

In [11]:
df2= pd.read_csv('data/raw_data/2016.csv')
df2.shape

(157, 13)

In [12]:
df2.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [13]:
df2.head(2)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463

In [14]:
df2 = df2.drop(columns=['Region','Lower Confidence Interval','Upper Confidence Interval','Dystopia Residual'])
df2.head(1)

,Country,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171

In [15]:
df2limpio = df2.rename(columns={'Happiness Rank': 'Overall rank', 'Happiness Score': 'Score','Family':'Social Support','Economy (GDP per Capita)':'GDP per capita','Trust (Government Corruption)':'Perceptions of corruption'})
df2limpio.head(2)

,Country,Overall rank,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Perceptions of corruption,Generosity
0,Denmark,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083

In [16]:
df2final = df2limpio.reindex(columns=['Overall rank','Country','Score','GDP per capita','Social Support','Health (Life Expectancy)','Freedom','Generosity','Perceptions of corruption'])
df2final.head(1)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Denmark,7.526,1.44178,1.16374,0.79504,0.57941,0.36171,0.44453

In [17]:
df2limpio= df2final

In [18]:
df2final.to_excel("2016limpio.xlsx") # TERMINADO PARECE

**DATAFRAME 3** **2017**

In [19]:
df3= pd.read_csv('data/raw_data/2017.csv')
df3.shape

(155, 12)

In [20]:
df3.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [21]:
df3.head(1)

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027

In [22]:
df3 = df3.drop(columns=['Whisker.high','Whisker.low','Dystopia.Residual'])
df3.head(1)

,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964

In [23]:
df3limpio = df3.rename(columns={'Happiness.Rank': 'Overall rank', 'Happiness.Score': 'Score','Family':'Social Support','Economy..GDP.per.Capita.':'GDP per capita','Trust..Government.Corruption.':'Perceptions of corruption','Health..Life.Expectancy.':'Health (Life Expectancy)'})
df3limpio.head(2)

,Country,Overall rank,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770

In [24]:
df3final = df3limpio.reindex(columns=['Overall rank','Country','Score','GDP per capita','Social Support','Health (Life Expectancy)','Freedom','Generosity','Perceptions of corruption'])
df3final.head(1)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964

In [25]:
df3limpio= df3final

In [26]:
df3final.to_excel("2017limpio.xlsx") # TERMINADO PARECE

**DF4**  **2018**

In [27]:
df4= pd.read_csv('data/raw_data/2018.csv')
df4.shape

(156, 9)

In [28]:
df4.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [29]:
df4

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [30]:
df4limpio = df4.rename(columns={'Country or region': 'Country', 'Freedom to make life choices': 'Freedom'})

In [31]:
df4limpio= df4limpio.rename(columns={'Healthy life expectancy':'Health (Life Expectancy)'})
df4limpio.head(1)

,Overall rank,Country,Score,GDP per capita,Social support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393

In [32]:
df4limpio=df4limpio.rename(columns={'Social support':'Social Support'})

In [33]:
df4limpio

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [34]:
df4limpio.to_excel("2018limpio.xlsx")

**DF5** **2019**

In [35]:
df5= pd.read_csv('data/raw_data/2019.csv')
df5.shape

(156, 9)

In [36]:
df5.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [37]:
df5limpio = df5.rename(columns={'Healthy life expectancy':'Health (Life Expectancy)','Country or region': 'Country', 'Freedom to make life choices': 'Freedom'})

In [38]:
df5limpio.head(1)

,Overall rank,Country,Score,GDP per capita,Social support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.34,1.587,0.986,0.596,0.153,0.393

In [79]:
df5limpio = df5.rename(columns={'Social support':'Social Support','Country or region':'Country'})
df5limpio.head(1)

,Overall rank,Country,Score,GDP per capita,Social Support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.34,1.587,0.986,0.596,0.153,0.393

In [40]:
df5limpio.to_excel("2019limpio.xlsx")

**DF6** **2020**

In [41]:
df6= pd.read_csv('data/raw_data/2020.csv')
df6.shape

(153, 20)

In [42]:
df6.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [43]:
df6.head(1)

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.95433,71.900825,0.949172,-0.059482,0.195445,1.972317,1.28519,1.499526,0.961271,0.662317,0.15967,0.477857,2.762835

In [44]:
df6limpio = df6.drop(columns=['Logged GDP per capita','Explained by: Social support','Regional indicator','Standard error of ladder score','upperwhisker','lowerwhisker','Ladder score in Dystopia','Dystopia + residual'])
df6limpio.head(1)

,Country name,Ladder score,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Explained by: Log GDP per capita,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.8087,0.95433,71.900825,0.949172,-0.059482,0.195445,1.28519,0.961271,0.662317,0.15967,0.477857

In [45]:
df6limpio = df6limpio.drop(columns=['Freedom to make life choices','Generosity','Perceptions of corruption','Healthy life expectancy'])
df6limpio.head(1)

,Country name,Ladder score,Social support,Explained by: Log GDP per capita,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.8087,0.95433,1.28519,0.961271,0.662317,0.15967,0.477857

In [46]:
df6limpio = df6limpio.rename(columns={'Country name':'Country',"Ladder score":"Score","Explained by: Log GDP per capita":'GDP per capita','Explained by: Healthy life expectancy':'Health (Life Expectancy)','Explained by: Freedom to make life choices':'Freedom','Explained by: Generosity':'Generosity','Explained by: Perceptions of corruption':'Perceptions of corruption'})
df6limpio.head(1)

,Country,Score,Social support,GDP per capita,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,Finland,7.8087,0.95433,1.28519,0.961271,0.662317,0.15967,0.477857

In [47]:
df6limpio['Overall rank'] = [i+1 for i in range(len(df6limpio))]
df6limpio.head(1)

,Country,Score,Social support,GDP per capita,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption,Overall rank
0,Finland,7.8087,0.95433,1.28519,0.961271,0.662317,0.15967,0.477857,1

In [48]:
df6limpio = df6limpio.reindex(columns=['Overall rank','Country','Score','GDP per capita','Social support','Health (Life Expectancy)','Freedom','Generosity','Perceptions of corruption'])
df6limpio.head(2)

,Overall rank,Country,Score,GDP per capita,Social support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,7.8087,1.285190,0.954330,0.961271,0.662317,0.159670,0.477857
1,2,Denmark,7.6456,1.326949,0.955991,0.979333,0.665040,0.242793,0.495260

In [49]:
df6limpio= df6limpio.rename(columns={'Social support':'Social Support'})
df6limpio.head(1)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,7.8087,1.28519,0.95433,0.961271,0.662317,0.15967,0.477857

**DF7** **2021**

In [50]:
df7= pd.read_csv('data/raw_data/2021.csv')
df7.shape

(149, 20)

In [51]:
df7.columns

Index(['Country name', 'Regional indicator', 'Ladder score',
       'Standard error of ladder score', 'upperwhisker', 'lowerwhisker',
       'Logged GDP per capita', 'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [52]:
df7limpio = df7.drop(columns=['Social support','Freedom to make life choices','Healthy life expectancy','Regional indicator',"Standard error of ladder score",'upperwhisker','lowerwhisker','Logged GDP per capita','Generosity','Dystopia + residual','Perceptions of corruption','Ladder score in Dystopia'])
df7limpio.head(1)

,Country name,Ladder score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,Finland,7.842,1.446,1.106,0.741,0.691,0.124,0.481

In [53]:
df7limpio = df7limpio.rename(columns={'Explained by: Social support':'Social support','Country name':'Country',"Ladder score":"Score","Explained by: Log GDP per capita":'GDP per capita','Explained by: Healthy life expectancy':'Health (Life Expectancy)','Explained by: Freedom to make life choices':'Freedom','Explained by: Generosity':'Generosity','Explained by: Perceptions of corruption':'Perceptions of corruption'})
df7limpio.head(1)

,Country,Score,GDP per capita,Social support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,Finland,7.842,1.446,1.106,0.741,0.691,0.124,0.481

In [54]:
df7limpio['Overall rank'] = [i+1 for i in range(len(df7limpio))]
df7limpio.head(1)

,Country,Score,GDP per capita,Social support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption,Overall rank
0,Finland,7.842,1.446,1.106,0.741,0.691,0.124,0.481,1

In [55]:
df7limpio = df7limpio.reindex(columns=['Overall rank','Country','Score','GDP per capita','Social support','Health (Life Expectancy)','Freedom','Generosity','Perceptions of corruption'])
df7limpio.head(2)

,Overall rank,Country,Score,GDP per capita,Social support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,7.842,1.446,1.106,0.741,0.691,0.124,0.481
1,2,Denmark,7.620,1.502,1.108,0.763,0.686,0.208,0.485

In [56]:
df7limpio= df7limpio.rename(columns={'Social support':'Social Support'})
df6limpio.head(1)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,7.8087,1.28519,0.95433,0.961271,0.662317,0.15967,0.477857

**DF8** **2022**

In [57]:
df8= pd.read_csv('data/raw_data/2022.csv')
df8.shape

(147, 12)

In [58]:
df8.columns

Index(['RANK', 'Country', 'Happiness score', 'Whisker-high', 'Whisker-low',
       'Dystopia (1.83) + residual', 'Explained by: GDP per capita',
       'Explained by: Social support', 'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption'],
      dtype='object')

In [59]:
df8limpio = df8.drop(columns=['Whisker-high','Whisker-low','Dystopia (1.83) + residual'])
df8limpio.head(1)

,RANK,Country,Happiness score,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,"7,821","1,892","1,258","0,775","0,736","0,109","0,534"

In [60]:
df8limpio = df8limpio.rename(columns={'RANK':'Overall rank','Happiness score':'Score','Explained by: GDP per capita':'GDP per capita','Explained by: Social support':'Social support','Explained by: Healthy life expectancy':'Health (Life Expectancy)','Explained by: Freedom to make life choices':'Freedom','Explained by: Generosity':'Generosity',"Explained by: Perceptions of corruption":'Perceptions of corruption'})

In [61]:
df8limpio = df8limpio.reindex(columns=['Overall rank','Country','Score','GDP per capita','Social support','Health (Life Expectancy)','Freedom','Generosity','Perceptions of corruption'])
df8limpio.head(2)

,Overall rank,Country,Score,GDP per capita,Social support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,"7,821","1,892","1,258","0,775","0,736","0,109","0,534"
1,2,Denmark,"7,636","1,953","1,243","0,777","0,719","0,188","0,532"

In [62]:
df8limpio= df8limpio.rename(columns={'Social support':'Social Support'})
df8limpio.head(1)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,"7,821","1,892","1,258","0,775","0,736","0,109","0,534"

#~###---------------------------------------------------------------------------------------------------------------------

In [63]:
df1limpio.shape,df2limpio.shape,df3limpio.shape,df4limpio.shape,df5limpio.shape,df6limpio.shape,df7limpio.shape,df8limpio.shape

((158, 9),
 (157, 9),
 (155, 9),
 (156, 9),
 (156, 9),
 (153, 9),
 (149, 9),
 (147, 9))

In [64]:
for pais in df1final.Country.unique():
    if pais not in df8limpio.Country.unique():
        print(pais)

Luxembourg
Oman
Qatar
Czech Republic
Taiwan
Kuwait
Suriname
Trinidad and Tobago
Guatemala
Belarus
Libya
North Cyprus
Turkmenistan
Hong Kong
Bhutan
Azerbaijan
Somaliland region
Macedonia
Lesotho
Swaziland
Palestinian Territories
Liberia
Sudan
Haiti
Congo (Kinshasa)
Mauritania
Djibouti
Botswana
Yemen
Angola
Congo (Brazzaville)
Comoros
Niger
Madagascar
Central African Republic
Chad
Rwanda
Syria
Burundi

In [65]:
df1limpio.head(1)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978

In [66]:
df2limpio.head(1)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Denmark,7.526,1.44178,1.16374,0.79504,0.57941,0.36171,0.44453

In [67]:
df3limpio.head(1)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964

In [68]:
df4limpio.head(1)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393

In [69]:
df5limpio.head(1)

,Overall rank,Country or region,Score,GDP per capita,Social Support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.34,1.587,0.986,0.596,0.153,0.393

In [70]:
df6limpio.head(1)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,7.8087,1.28519,0.95433,0.961271,0.662317,0.15967,0.477857

In [71]:
df7limpio.head(1)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,7.842,1.446,1.106,0.741,0.691,0.124,0.481

In [72]:
df8limpio.head(1)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,"7,821","1,892","1,258","0,775","0,736","0,109","0,534"

In [80]:
df8limpio.columns

Index(['Overall rank', 'Country', 'Score', 'GDP per capita', 'Social Support',
       'Health (Life Expectancy)', 'Freedom', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [81]:
dfs = [df1limpio, df2limpio,df3limpio,df4limpio,df5limpio,df6limpio,df7limpio,df8limpio]

mezcla = np.array('Mi casa')
for i, df in enumerate(dfs):
    print(i)
    mezcla = np.append(mezcla, df.Country.unique())

mezcla

0
1
2
3
4
5
6
7

array(['Mi casa', 'Switzerland', 'Iceland', ..., 'Lebanon', 'Afghanistan',
       'xx'], dtype=object)

In [82]:
df5limpio

,Overall rank,Country,Score,GDP per capita,Social Support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [83]:
mezcla.tolist()

['Mi casa',
 'Switzerland',
 'Iceland',
 'Denmark',
 'Norway',
 'Canada',
 'Finland',
 'Netherlands',
 'Sweden',
 'New Zealand',
 'Australia',
 'Israel',
 'Costa Rica',
 'Austria',
 'Mexico',
 'United States',
 'Brazil',
 'Luxembourg',
 'Ireland',
 'Belgium',
 'United Arab Emirates',
 'United Kingdom',
 'Oman',
 'Venezuela',
 'Singapore',
 'Panama',
 'Germany',
 'Chile',
 'Qatar',
 'France',
 'Argentina',
 'Czech Republic',
 'Uruguay',
 'Colombia',
 'Thailand',
 'Saudi Arabia',
 'Spain',
 'Malta',
 'Taiwan',
 'Kuwait',
 'Suriname',
 'Trinidad and Tobago',
 'El Salvador',
 'Guatemala',
 'Uzbekistan',
 'Slovakia',
 'Japan',
 'South Korea',
 'Ecuador',
 'Bahrain',
 'Italy',
 'Bolivia',
 'Moldova',
 'Paraguay',
 'Kazakhstan',
 'Slovenia',
 'Lithuania',
 'Nicaragua',
 'Peru',
 'Belarus',
 'Poland',
 'Malaysia',
 'Croatia',
 'Libya',
 'Russia',
 'Jamaica',
 'North Cyprus',
 'Cyprus',
 'Algeria',
 'Kosovo',
 'Turkmenistan',
 'Mauritius',
 'Hong Kong',
 'Estonia',
 'Indonesia',
 'Vietnam',
 'Turkey',
 'Kyrgyzstan',
 'Nigeria',
 'Bhutan',
 'Azerbaijan',
 'Pakistan',
 'Jordan',
 'Montenegro',
 'China',
 'Zambia',
 'Romania',
 'Serbia',
 'Portugal',
 'Latvia',
 'Philippines',
 'Somaliland region',
 'Morocco',
 'Macedonia',
 'Mozambique',
 'Albania',
 'Bosnia and Herzegovina',
 'Lesotho',
 'Dominican Republic',
 'Laos',
 'Mongolia',
 'Swaziland',
 'Greece',
 'Lebanon',
 'Hungary',
 'Honduras',
 'Tajikistan',
 'Tunisia',
 'Palestinian Territories',
 'Bangladesh',
 'Iran',
 'Ukraine',
 'Iraq',
 'South Africa',
 'Ghana',
 'Zimbabwe',
 'Liberia',
 'India',
 'Sudan',
 'Haiti',
 'Congo (Kinshasa)',
 'Nepal',
 'Ethiopia',
 'Sierra Leone',
 'Mauritania',
 'Kenya',
 'Djibouti',
 'Armenia',
 'Botswana',
 'Myanmar',
 'Georgia',
 'Malawi',
 'Sri Lanka',
 'Cameroon',
 'Bulgaria',
 'Egypt',
 'Yemen',
 'Angola',
 'Mali',
 'Congo (Brazzaville)',
 'Comoros',
 'Uganda',
 'Senegal',
 'Gabon',
 'Niger',
 'Cambodia',
 'Tanzania',
 'Madagascar',
 'Central African Republic',
 'Chad',
 'Guinea',
 'Ivory Coast',
 'Burkina Faso',
 'Afghanistan',
 'Rwanda',
 'Benin',
 'Syria',
 'Burundi',
 'Togo',
 'Denmark',
 'Switzerland',
 'Iceland',
 'Norway',
 'Finland',
 'Canada',
 'Netherlands',
 'New Zealand',
 'Australia',
 'Sweden',
 'Israel',
 'Austria',
 'United States',
 'Costa Rica',
 'Puerto Rico',
 'Germany',
 'Brazil',
 'Belgium',
 'Ireland',
 'Luxembourg',
 'Mexico',
 'Singapore',
 'United Kingdom',
 'Chile',
 'Panama',
 'Argentina',
 'Czech Republic',
 'United Arab Emirates',
 'Uruguay',
 'Malta',
 'Colombia',
 'France',
 'Thailand',
 'Saudi Arabia',
 'Taiwan',
 'Qatar',
 'Spain',
 'Algeria',
 'Guatemala',
 'Suriname',
 'Kuwait',
 'Bahrain',
 'Trinidad and Tobago',
 'Venezuela',
 'Slovakia',
 'El Salvador',
 'Malaysia',
 'Nicaragua',
 'Uzbekistan',
 'Italy',
 'Ecuador',
 'Belize',
 'Japan',
 'Kazakhstan',
 'Moldova',
 'Russia',
 'Poland',
 'South Korea',
 'Bolivia',
 'Lithuania',
 'Belarus',
 'North Cyprus',
 'Slovenia',
 'Peru',
 'Turkmenistan',
 'Mauritius',
 'Libya',
 'Latvia',
 'Cyprus',
 'Paraguay',
 'Romania',
 'Estonia',
 'Jamaica',
 'Croatia',
 'Hong Kong',
 'Somalia',
 'Kosovo',
 'Turkey',
 'Indonesia',
 'Jordan',
 'Azerbaijan',
 'Philippines',
 'China',
 'Bhutan',
 'Kyrgyzstan',
 'Serbia',
 'Bosnia and Herzegovina',
 'Montenegro',
 'Dominican Republic',
 'Morocco',
 'Hungary',
 'Pakistan',
 'Lebanon',
 'Portugal',
 'Macedonia',
 'Vietnam',
 'Somaliland Region',
 'Tunisia',
 'Greece',
 'Tajikistan',
 'Mongolia',
 'Laos',
 'Nigeria',
 'Honduras',
 'Iran',
 'Zambia',
 'Nepal',
 'Palestinian Territories',
 'Albania',
 'Bangladesh',
 'Sierra Leone',
 'Iraq',
 'Namibia',
 'Cameroon',
 'Ethiopia',
 'South Africa',
 'Sri Lanka',
 'India',
 'Myanmar',
 'Egypt',
 'Armenia',
 'Kenya',
 'Ukraine',
 'Ghana',
 'Congo (Kinshasa)',
 'Georgia',
 'Congo (Brazzaville)',
 'Senegal',
 'Bulgaria',
 'Mauritania',
 'Zimbabwe',
 'Malawi',
 'Sudan',
 'Gabon',
 'Mali',
 'Haiti',
 'Botswana',
 'Comoros',
 'Ivory Coast',
 'Cambodia',
 'Angola',
 'Niger',
 'South Sudan',
 'Chad',
 'Burkina Faso',
 'Uganda',
 'Yemen',
 'Madagascar',
 'Tanzania',
 'Liberia',
 'Guinea',
 'Rwanda',
 'Benin',
 'Afghanistan',
 'Togo',
 'Syria',
 'Burundi',
 'Norway',
 'Denmark',
 'Iceland',
 'Switzerland',
 'Finland',
 'Netherlands',
 'Canada',
 'New Zealand',
 'Sweden',
 'Australia',
 'Israel',
 'Costa Rica',
 'Austria',
 'United States',
 'Ireland',
 'Germany',
 'Belgium',
 'Luxembourg',
 'United Kingdom',
 'Chile',
 'United Arab Emirates',
 'Brazil',
 'Czech Republic',
 'Argentina',
 'Mexico',
 'Singapore',
 'Malta',
 'Uruguay',
 'Guatemala',
 'Panama',
 'France',
 'Thailand',
 'Taiwan Province of China',
 'Spain',
 'Qatar',
 'Colombia',
 'Saudi Arabia',
 'Trinidad and Tobago',
 'Kuwait',
 'Slovakia',
 'Bahrain',
 'Malaysia',
 'Nicaragua',
 'Ecuador',
 'El Salvador',
 'Poland',
 'Uzbekistan',
 'Italy',
 'Russia',
 'Belize',
 'Japan',
 'Lithuania',
 'Algeria',
 'Latvia',
 'South Korea',
 'Moldova',
 'Romania',
 'Bolivia',
 'Turkmenistan',
 'Kazakhstan',
 'North Cyprus',
 'Slovenia',
 'Peru',
 'Mauritius',
 'Cyprus',
 'Estonia',
 'Belarus',
 'Libya',
 'Turkey',
 'Paraguay',
 'Hong Kong S.A.R., China',
 'Philippines',
 'Serbia',
 'Jordan',
 'Hungary',
 'Jamaica',
 'Croatia',
 'Kosovo',
 'China',
 'Pakistan',
 'Indonesia',
 'Venezuela',
 'Montenegro',
 'Morocco',
 'Azerbaijan',
 'Dominican Republic',
 'Greece',
 'Lebanon',
 'Portugal',
 'Bosnia and Herzegovina',
 'Honduras',
 'Macedonia',
 'Somalia',
 'Vietnam',
 'Nigeria',
 'Tajikistan',
 'Bhutan',
 'Kyrgyzstan',
 'Nepal',
 'Mongolia',
 'South Africa',
 'Tunisia',
 'Palestinian Territories',
 'Egypt',
 'Bulgaria',
 'Sierra Leone',
 'Cameroon',
 'Iran',
 'Albania',
 'Bangladesh',
 'Namibia',
 'Kenya',
 'Mozambique',
 'Myanmar',
 'Senegal',
 'Zambia',
 'Iraq',
 'Gabon',
 'Ethiopia',
 'Sri Lanka',
 'Armenia',
 'India',
 'Mauritania',
 'Congo (Brazzaville)',
 'Georgia',
 'Congo (Kinshasa)',
 'Mali',
 'Ivory Coast',
 'Cambodia',
 'Sudan',
 'Ghana',
 'Ukraine',
 'Uganda',
 'Burkina Faso',
 'Niger',
 'Malawi',
 'Chad',
 'Zimbabwe',
 'Lesotho',
 'Angola',
 'Afghanistan',
 'Botswana',
 'Benin',
 'Madagascar',
 'Haiti',
 'Yemen',
 'South Sudan',
 'Liberia',
 'Guinea',
 'Togo',
 'Rwanda',
 'Syria',
 'Tanzania',
 'Burundi',
 'Central African Republic',
 'Finland',
 'Norway',
 'Denmark',
 'Iceland',
 'Switzerland',
 'Netherlands',
 'Canada',
 'New Zealand',
 'Sweden',
 'Australia',
 'United Kingdom',
 'Austria',
 'Costa Rica',
 'Ireland',
 'Germany',
 'Belgium',
 'Luxembourg',
 'United States',
 'Israel',
 'United Arab Emirates',
 'Czech Republic',
 'Malta',
 'France',
 'Mexico',
 'Chile',
 'Taiwan',
 'Panama',
 'Brazil',
 'Argentina',
 'Guatemala',
 'Uruguay',
 'Qatar',
 'Saudi Arabia',
 'Singapore',
 'Malaysia',
 'Spain',
 'Colombia',
 'Trinidad & Tobago',
 'Slovakia',
 'El Salvador',
 'Nicaragua',
 'Poland',
 'Bahrain',
 'Uzbekistan',
 'Kuwait',
 'Thailand',
 'Italy',
 'Ecuador',
 'Belize',
 'Lithuania',
 'Slovenia',
 'Romania',
 'Latvia',
 'Japan',
 'Mauritius',
 'Jamaica',
 'South Korea',
 'Northern Cyprus',
 'Russia',
 'Kazakhstan',
 'Cyprus',
 'Bolivia',
 'Estonia',
 'Paraguay',
 'Peru',
 'Kosovo',
 'Moldova',
 'Turkmenistan',
 'Hungary',
 'Libya',
 'Philippines',
 'Honduras',
 'Belarus',
 'Turkey',
 'Pakistan',
 'Hong Kong',
 'Portugal',
 'Serbia',
 'Greece',
 'Lebanon',
 'Montenegro',
 'Croatia',
 'Dominican Republic',
 'Algeria',
 'Morocco',
 'China',
 'Azerbaijan',
 'Tajikistan',
 'Macedonia',
 'Jordan',
 'Nigeria',
 'Kyrgyzstan',
 'Bosnia and Herzegovina',
 'Mongolia',
 'Vietnam',
 'Indonesia',
 'Bhutan',
 'Somalia',
 'Cameroon',
 'Bulgaria',
 'Nepal',
 'Venezuela',
 'Gabon',
 'Palestinian Territories',
 'South Africa',
 'Iran',
 'Ivory Coast',
 'Ghana',
 'Senegal',
 'Laos',
 'Tunisia',
 'Albania',
 'Sierra Leone',
 'Congo (Brazzaville)',
 'Bangladesh',
 'Sri Lanka',
 'Iraq',
 'Mali',
 'Namibia',
 'Cambodia',
 'Burkina Faso',
 'Egypt',
 'Mozambique',
 'Kenya',
 'Zambia',
 'Mauritania',
 'Ethiopia',
 'Georgia',
 'Armenia',
 'Myanmar',
 'Chad',
 'Congo (Kinshasa)',
 'India',
 'Niger',
 'Uganda',
 'Benin',
 'Sudan',
 'Ukraine',
 'Togo',
 'Guinea',
 'Lesotho',
 'Angola',
 'Madagascar',
 'Zimbabwe',
 'Afghanistan',
 'Botswana',
 'Malawi',
 'Haiti',
 'Liberia',
 'Syria',
 'Rwanda',
 'Yemen',
 'Tanzania',
 'South Sudan',
 'Central African Republic',
 'Burundi',
 'Finland',
 'Denmark',
 'Norway',
 'Iceland',
 'Netherlands',
 'Switzerland',
 'Sweden',
 'New Zealand',
 'Canada',
 'Austria',
 'Australia',
 'Costa Rica',
 'Israel',
 'Luxembourg',
 'United Kingdom',
 'Ireland',
 'Germany',
 'Belgium',
 'United States',
 'Czech Republic',
 'United Arab Emirates',
 'Malta',
 'Mexico',
 'France',
 'Taiwan',
 'Chile',
 'Guatemala',
 'Saudi Arabia',
 'Qatar',
 'Spain',
 'Panama',
 'Brazil',
 'Uruguay',
 'Singapore',
 'El Salvador',
 'Italy',
 'Bahrain',
 'Slovakia',
 'Trinidad & Tobago',
 'Poland',
 'Uzbekistan',
 'Lithuania',
 'Colombia',
 'Slovenia',
 'Nicaragua',
 'Kosovo',
 'Argentina',
 'Romania',
 'Cyprus',
 'Ecuador',
 'Kuwait',
 'Thailand',
 'Latvia',
 'South Korea',
 'Estonia',
 'Jamaica',
 'Mauritius',
 'Japan',
 'Honduras',
 'Kazakhstan',
 'Bolivia',
 'Hungary',
 'Paraguay',
 'Northern Cyprus',
 'Peru',
 'Portugal',
 'Pakistan',
 'Russia',
 'Philippines',
 'Serbia',
 'Moldova',
 'Libya',
 'Montenegro',
 'Tajikistan',
 'Croatia',
 'Hong Kong',
 'Dominican Republic',
 'Bosnia and Herzegovina',
 'Turkey',
 'Malaysia',
 'Belarus',
 'Greece',
 'Mongolia',
 'North Macedonia',
 'Nigeria',
 'Kyrgyzstan',
 'Turkmenistan',
 'Algeria',
 'Morocco',
 'Azerbaijan',
 'Lebanon',
 'Indonesia',
 'China',
 'Vietnam',
 'Bhutan',
 'Cameroon',
 'Bulgaria',
 'Ghana',
 'Ivory Coast',
 'Nepal',
 'Jordan',
 'Benin',
 'Congo (Brazzaville)',
 'Gabon',
 'Laos',
 'South Africa',
 'Albania',
 'Venezuela',
 'Cambodia',
 'Palestinian Territories',
 'Senegal',
 'Somalia',
 'Namibia',
 'Niger',
 'Burkina Faso',
 'Armenia',
 'Iran',
 'Guinea',
 'Georgia',
 'Gambia',
 'Kenya',
 'Mauritania',
 'Mozambique',
 'Tunisia',
 'Bangladesh',
 'Iraq',
 'Congo (Kinshasa)',
 'Mali',
 'Sierra Leone',
 'Sri Lanka',
 'Myanmar',
 'Chad',
 'Ukraine',
 'Ethiopia',
 'Swaziland',
 'Uganda',
 'Egypt',
 'Zambia',
 'Togo',
 'India',
 'Liberia',
 'Comoros',
 'Madagascar',
 'Lesotho',
 'Burundi',
 'Zimbabwe',
 'Haiti',
 'Botswana',
 'Syria',
 'Malawi',
 'Yemen',
 'Rwanda',
 'Tanzania',
 'Afghanistan',
 'Central African Republic',
 'South Sudan',
 'Finland',
 'Denmark',
 'Switzerland',
 'Iceland',
 'Norway',
 'Netherlands',
 'Sweden',
 'New Zealand',
 'Austria',
 'Luxembourg',
 'Canada',
 'Australia',
 'United Kingdom',
 'Israel',
 'Costa Rica',
 'Ireland',
 'Germany',
 'United States',
 'Czech Republic',
 'Belgium',
 'United Arab Emirates',
 'Malta',
 'France',
 'Mexico',
 'Taiwan Province of China',
 'Uruguay',
 'Saudi Arabia',
 'Spain',
 'Guatemala',
 'Italy',
 'Singapore',
 'Brazil',
 'Slovenia',
 'El Salvador',
 'Kosovo',
 'Panama',
 'Slovakia',
 'Uzbekistan',
 'Chile',
 'Bahrain',
 'Lithuania',
 'Trinidad and Tobago',
 'Poland',
 'Colombia',
 'Cyprus',
 'Nicaragua',
 'Romania',
 'Kuwait',
 'Mauritius',
 'Kazakhstan',
 'Estonia',
 'Philippines',
 'Hungary',
 'Thailand',
 'Argentina',
 'Honduras',
 'Latvia',
 'Ecuador',
 'Portugal',
 'Jamaica',
 'South Korea',
 'Japan',
 'Peru',
 'Serbia',
 'Bolivia',
 'Pakistan',
 'Paraguay',
 'Dominican Republic',
 'Bosnia and Herzegovina',
 'Moldova',
 'Tajikistan',
 'Montenegro',
 'Russia',
 'Kyrgyzstan',
 'Belarus',
 'North Cyprus',
 'Greece',
 'Hong Kong S.A.R. of China',
 'Croatia',
 'Libya',
 'Mongolia',
 'Malaysia',
 'Vietnam',
 'Indonesia',
 'Ivory Coast',
 'Benin',
 'Maldives',
 'Congo (Brazzaville)',
 'Azerbaijan',
 'Macedonia',
 'Ghana',
 'Nepal',
 'Turkey',
 'China',
 'Turkmenistan',
 'Bulgaria',
 'Morocco',
 'Cameroon',
 'Venezuela',
 'Algeria',
 'Senegal',
 'Guinea',
 'Niger',
 'Laos',
 'Albania',
 'Cambodia',
 'Bangladesh',
 'Gabon',
 'South Africa',
 'Iraq',
 'Lebanon',
 'Burkina Faso',
 'Gambia',
 'Mali',
 'Nigeria',
 'Armenia',
 'Georgia',
 'Iran',
 'Jordan',
 'Mozambique',
 'Kenya',
 'Namibia',
 'Ukraine',
 'Liberia',
 'Palestinian Territories',
 'Uganda',
 'Chad',
 'Tunisia',
 'Mauritania',
 'Sri Lanka',
 'Congo (Kinshasa)',
 'Swaziland',
 'Myanmar',
 'Comoros',
 'Togo',
 'Ethiopia',
 'Madagascar',
 'Egypt',
 'Sierra Leone',
 'Burundi',
 'Zambia',
 'Haiti',
 'Lesotho',
 'India',
 'Malawi',
 'Yemen',
 'Botswana',
 'Tanzania',
 'Central African Republic',
 'Rwanda',
 'Zimbabwe',
 'South Sudan',
 'Afghanistan',
 'Finland',
 'Denmark',
 'Switzerland',
 'Iceland',
 'Netherlands',
 'Norway',
 'Sweden',
 'Luxembourg',
 'New Zealand',
 'Austria',
 'Australia',
 'Israel',
 'Germany',
 'Canada',
 'Ireland',
 'Costa Rica',
 'United Kingdom',
 'Czech Republic',
 'United States',
 'Belgium',
 'France',
 'Bahrain',
 'Malta',
 'Taiwan Province of China',
 'United Arab Emirates',
 'Saudi Arabia',
 'Spain',
 'Italy',
 'Slovenia',
 'Guatemala',
 'Uruguay',
 'Singapore',
 'Kosovo',
 'Slovakia',
 'Brazil',
 'Mexico',
 'Jamaica',
 'Lithuania',
 'Cyprus',
 'Estonia',
 'Panama',
 'Uzbekistan',
 'Chile',
 'Poland',
 'Kazakhstan',
 'Romania',
 'Kuwait',
 'Serbia',
 'El Salvador',
 'Mauritius',
 'Latvia',
 'Colombia',
 'Hungary',
 'Thailand',
 'Nicaragua',
 'Japan',
 'Argentina',
 'Portugal',
 'Honduras',
 'Croatia',
 'Philippines',
 'South Korea',
 'Peru',
 'Bosnia and Herzegovina',
 ...]

In [84]:
unique, counts = np.unique(mezcla, return_counts=True)

in_all_df = [country for country, count in zip(unique, counts) if count == max(counts)]
in_all_df

['Afghanistan',
 'Albania',
 'Algeria',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Bahrain',
 'Bangladesh',
 'Belgium',
 'Benin',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Chile',
 'China',
 'Colombia',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Denmark',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Gabon',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guinea',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kosovo',
 'Kyrgyzstan',
 'Latvia',
 'Lebanon',
 'Lithuania',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritius',
 'Mexico',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Myanmar',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Nigeria',
 'Norway',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Romania',
 'Russia',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sweden',
 'Switzerland',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Tunisia',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Vietnam',
 'Zambia',
 'Zimbabwe']

In [85]:
len(unique) # de 197 paises que hay en total, pasamos a 117 que son los que se repiten en los 8 csv

197

In [86]:
len(in_all_df)  # Tengo que dejar solamente 117 paises que se repiten en los 8 dataframe

117

**LIMPIEZA PAISES**

In [87]:
df1limpio.head(2)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145

In [88]:
df1_filt = df1limpio[df1limpio.Country.isin(in_all_df)]
df1_filt.head(2)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978
1,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145

In [89]:
df1_filt.shape

(117, 9)

In [90]:
df2_filt = df2limpio[df2limpio.Country.isin(in_all_df)]
df2_filt.head(2)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Denmark,7.526,1.44178,1.16374,0.79504,0.57941,0.36171,0.44453
1,2,Switzerland,7.509,1.52733,1.14524,0.86303,0.58557,0.28083,0.41203

In [91]:
df2_filt.shape

(117, 9)

In [92]:
df3_filt = df3limpio[df2limpio.Country.isin(in_all_df)]
df3_filt.head(2)

<ipython-input-92-56f4615461b8>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df3_filt = df3limpio[df2limpio.Country.isin(in_all_df)]

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Norway,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964
1,2,Denmark,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770

In [93]:
df3_filt.shape

(117, 9)

In [94]:
df4_filt = df4limpio[df4limpio.Country.isin(in_all_df)]
df4_filt.head(2)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340

In [95]:
df4_filt.shape

(117, 9)

In [96]:
df5_filt = df5limpio[df5limpio.Country.isin(in_all_df)]
df5_filt.head(2)

,Overall rank,Country,Score,GDP per capita,Social Support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410

In [97]:
df5_filt.shape

(117, 9)

In [98]:
df6_filt = df6limpio[df6limpio.Country.isin(in_all_df)]
df6_filt.head(2)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,7.8087,1.285190,0.954330,0.961271,0.662317,0.159670,0.477857
1,2,Denmark,7.6456,1.326949,0.955991,0.979333,0.665040,0.242793,0.495260

In [99]:
df6_filt.shape

(117, 9)

In [100]:
df7_filt = df7limpio[df7limpio.Country.isin(in_all_df)]
df7_filt.head(2)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,7.842,1.446,1.106,0.741,0.691,0.124,0.481
1,2,Denmark,7.620,1.502,1.108,0.763,0.686,0.208,0.485

In [101]:
df7_filt.shape

(117, 9)

In [102]:
df8_filt = df8limpio[df8limpio.Country.isin(in_all_df)]
df8_filt.head(2)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption
0,1,Finland,"7,821","1,892","1,258","0,775","0,736","0,109","0,534"
1,2,Denmark,"7,636","1,953","1,243","0,777","0,719","0,188","0,532"

In [103]:
df8_filt.shape

(117, 9)

In [104]:
a = df1_filt.copy()
a['Year'] = 2015

b = df2_filt.copy()       
b['Year'] = 2016

c = df3_filt.copy()
c['Year'] = 2017

d = df4_filt.copy()
d['Year'] = 2018

e= df5_filt.copy()
e['Year'] = 2019

f= df6_filt.copy()
f['Year'] = 2020

g= df7_filt.copy()
g['Year'] = 2021

h= df8_filt.copy()
h['Year'] = 2022

In [105]:
cuenta = pd.concat([a, b,c,d,e,f,g,h])
cuenta.Country.value_counts()

Switzerland                 8
Zambia                      8
Greece                      8
Mongolia                    8
Dominican Republic          8
                           ..
Taiwan Province of China    1
Guatemala                   1
Czech Republic              1
Luxembourg                  1
Central African Republic    1
Name: Country, Length: 142, dtype: int64

In [106]:
cuenta

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption,Year,Healthy life expectancy,Freedom to make life choices
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015,NaN,NaN
1,2,Iceland,7.561,1.30232,1.40223,0.94784,0.62877,0.4363,0.14145,2015,NaN,NaN
2,3,Denmark,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,2015,NaN,NaN
3,4,Norway,7.522,1.459,1.33095,0.88521,0.66973,0.34699,0.36503,2015,NaN,NaN
4,5,Canada,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,2015,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
138,139,Tanzania,"3,702","0,848","0,597","0,425","0,578","0,248","0,270",2022,NaN,NaN
139,140,Sierra Leone,"3,574","0,686","0,416","0,273","0,387","0,202","0,055",2022,NaN,NaN
143,144,Zimbabwe,"2,995","0,947","0,690","0,270","0,329","0,106","0,105",2022,NaN,NaN
144,145,Lebanon,"2,955","1,392","0,498","0,631","0,103","0,082","0,034",2022,NaN,NaN
145,146,Afghanistan,"2,404","0,758","0,000","0,289","0,000","0,089","0,005",2022,NaN,NaN

In [107]:
cuenta = cuenta.drop(columns=['Healthy life expectancy','Freedom to make life choices'])
cuenta.head(1)

,Overall rank,Country,Score,GDP per capita,Social Support,Health (Life Expectancy),Freedom,Generosity,Perceptions of corruption,Year
0,1,Switzerland,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2015

In [108]:
cuenta.shape

(936, 10)

In [109]:
cuenta.to_excel("paises2015_2022.xlsx")