In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/interneto.csv',encoding="ISO-8859-1",skiprows=6)

FileNotFoundError: [Errno 2] No such file or directory: 'data/internet.csv'

In [ ]:
df.isna().sum()

In [6]:
df= df.iloc[0:195]
infointernet= df.iloc[195:]

In [7]:
dfinternet

NameError: name 'dfinternet' is not defined

In [8]:
df.tail(20)

,HDI Rank,Country,2000,Unnamed: 3,2005,Unnamed: 5,2010,Unnamed: 7,2011,Unnamed: 9,...,2014,Unnamed: 15,2015,Unnamed: 17,2016,Unnamed: 19,2017,Unnamed: 21,2018,Unnamed: 23
175,167,Togo,0.8,NaN,1.8,NaN,3.0,NaN,3.5,NaN,...,5.7,NaN,7.1,NaN,11.3,NaN,12.4,NaN,12.4,NaN
176,104,Tonga,2.4,NaN,4.9,NaN,16.0,NaN,25.0,NaN,...,36.0,NaN,38.7,NaN,40.0,NaN,41.2,NaN,41.2,NaN
177,67,Trinidad and Tobago,7.7,NaN,29.0,NaN,48.5,NaN,55.2,NaN,...,65.1,NaN,69.2,NaN,73.3,NaN,77.3,NaN,77.3,NaN
178,95,Tunisia,2.8,NaN,9.7,NaN,36.8,NaN,39.1,NaN,...,46.2,NaN,46.5,NaN,49.6,NaN,64.2,NaN,64.2,NaN
179,54,Turkey,3.8,NaN,15.5,NaN,39.8,NaN,43.1,NaN,...,51.0,NaN,53.7,NaN,58.3,NaN,64.7,NaN,71.0,NaN
180,111,Turkmenistan,0.1,NaN,1.0,NaN,3.0,NaN,5.0,NaN,...,12.2,NaN,15.0,NaN,18.0,NaN,21.3,NaN,21.3,NaN
181,..,Tuvalu,5.2,NaN,5.2,NaN,25.0,NaN,30.0,NaN,...,39.2,NaN,42.7,NaN,46.0,NaN,49.3,NaN,49.3,NaN
182,159,Uganda,0.2,NaN,1.7,NaN,12.5,NaN,13.0,NaN,...,16.9,NaN,17.8,NaN,21.9,NaN,23.7,NaN,23.7,NaN
183,74,Ukraine,0.7,NaN,3.8,NaN,23.3,NaN,28.7,NaN,...,46.2,NaN,48.9,NaN,53.0,NaN,58.9,NaN,58.9,NaN
184,31,United Arab Emirates,23.6,NaN,40.0,NaN,68.0,NaN,78.0,NaN,...,90.4,NaN,90.5,NaN,90.6,NaN,94.8,NaN,98.5,NaN
185,13,United Kingdom,26.8,NaN,70.0,NaN,85.0,NaN,85.4,NaN,...,91.6,NaN,92.0,NaN,94.8,NaN,94.6,NaN,94.9,NaN
186,17,United States,43.1,NaN,68.0,NaN,71.7,NaN,69.7,NaN,...,73.0,NaN,74.6,NaN,85.5,NaN,87.3,NaN,87.3,NaN
187,55,Uruguay,10.5,NaN,20.1,NaN,46.4,NaN,51.4,NaN,...,61.5,NaN,64.6,NaN,66.4,NaN,68.3,NaN,68.3,NaN
188,106,Uzbekistan,0.5,NaN,3.3,NaN,15.9,NaN,18.6,NaN,...,35.5,NaN,42.8,NaN,46.8,NaN,52.3,NaN,52.3,NaN
189,140,Vanuatu,2.1,NaN,5.1,NaN,8.0,NaN,9.2,NaN,...,18.8,NaN,22.4,NaN,24.0,NaN,25.7,NaN,25.7,NaN
190,113,Venezuela (Bolivarian Republic of),3.4,NaN,12.6,NaN,37.4,NaN,40.2,NaN,...,57.0,NaN,64.0,NaN,60.0,NaN,72.0,NaN,72.0,NaN
191,117,Viet Nam,0.3,NaN,12.7,NaN,30.6,NaN,35.1,NaN,...,41.0,NaN,45.0,NaN,53.0,NaN,58.1,NaN,70.3,NaN
192,179,Yemen,0.1,NaN,1.0,NaN,12.3,NaN,14.9,NaN,...,22.6,NaN,24.1,NaN,24.6,NaN,26.7,NaN,26.7,NaN
193,146,Zambia,0.2,NaN,2.9,NaN,10.0,NaN,11.5,NaN,...,19.0,NaN,21.0,NaN,25.5,NaN,27.9,NaN,14.3,NaN
194,150,Zimbabwe,0.4,NaN,2.4,NaN,6.4,NaN,8.4,NaN,...,16.4,NaN,22.7,NaN,23.1,NaN,27.1,NaN,27.1,NaN

In [9]:
def reorganizar(df,colyear):    
    df2 = df[["Country",colyear]]
    df2["year"]=int(colyear)
    df2.columns = ['Country','Internet',"year"]
    return df2

In [10]:
df2015 = reorganizar(df,"2015")
df2016 = reorganizar(df,"2016")
df2017 = reorganizar(df,"2017")
df2018 = reorganizar(df,"2018")

<ipython-input-9-7a1ea2cb868b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["year"]=int(colyear)
<ipython-input-9-7a1ea2cb868b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["year"]=int(colyear)
<ipython-input-9-7a1ea2cb868b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["year"]=int(colyear)
<ipython-input-9-7a1ea2cb868b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["year"]=int(colyear)

In [11]:
df2017

                                 Country Internet  year
0                            Afghanistan     13.5  2017
1                                Albania     71.8  2017
2                                Algeria     47.7  2017
3                                Andorra     91.6  2017
4                                 Angola     14.3  2017
..                                   ...      ...   ...
190   Venezuela (Bolivarian Republic of)     72.0  2017
191                             Viet Nam     58.1  2017
192                                Yemen     26.7  2017
193                               Zambia     27.9  2017
194                             Zimbabwe     27.1  2017

[195 rows x 3 columns]

In [12]:
df2018

                                 Country Internet  year
0                            Afghanistan     13.5  2018
1                                Albania     71.8  2018
2                                Algeria     59.6  2018
3                                Andorra     91.6  2018
4                                 Angola     14.3  2018
..                                   ...      ...   ...
190   Venezuela (Bolivarian Republic of)     72.0  2018
191                             Viet Nam     70.3  2018
192                                Yemen     26.7  2018
193                               Zambia     14.3  2018
194                             Zimbabwe     27.1  2018

[195 rows x 3 columns]

In [13]:
internetjunto= pd.concat([df2015,df2016,df2017,df2018])
internetjunto

                                 Country Internet  year
0                            Afghanistan      8.3  2015
1                                Albania     63.3  2015
2                                Algeria     38.2  2015
3                                Andorra     96.9  2015
4                                 Angola     12.4  2015
..                                   ...      ...   ...
190   Venezuela (Bolivarian Republic of)     72.0  2018
191                             Viet Nam     70.3  2018
192                                Yemen     26.7  2018
193                               Zambia     14.3  2018
194                             Zimbabwe     27.1  2018

[780 rows x 3 columns]

In [14]:
internetjunto.to_excel('internet2015_2018.xlsx')

In [15]:
#--------------------------------------------------------------------------------------------------------------

In [19]:
df2 = pd.read_excel('data/salud.xlsx')

In [20]:
df2

,serie Name,serie Code,país Name,país Code,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021]
0,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,Spain,ESP,83.229268,82.831707,83.329268,83.282927,83.431707,83.831707,82.334146,..
1,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,United States,USA,78.841463,78.690244,78.539024,78.539024,78.639024,78.787805,77.280488,..
2,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,United Kingdom,GBR,81.304878,80.956098,81.156098,81.256098,81.256098,81.204878,80.902439,..
3,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,Sweden,SWE,82.253659,82.204878,82.307317,82.409756,82.558537,83.109756,82.407317,..
4,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,Bulgaria,BGR,74.465854,74.614634,74.812195,74.814634,74.963415,75.112195,73.607317,..
5,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,Russian Federation,RUS,70.743659,71.183415,71.65122,72.451463,72.662195,73.083902,71.33878,..
6,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Spain,ESP,1.320000,1.33,1.34,1.31,1.26,1.23,1.23,..
7,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,United States,USA,1.862500,1.8435,1.8205,1.7655,1.7295,1.706,1.6375,..
8,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,United Kingdom,GBR,1.810000,1.8,1.79,1.74,1.68,1.63,1.56,..
9,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Sweden,SWE,1.880000,1.85,1.85,1.78,1.76,1.71,1.66,..
10,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Bulgaria,BGR,1.530000,1.53,1.54,1.56,1.56,1.58,1.56,..
11,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,Russian Federation,RUS,1.750000,1.777,1.762,1.621,1.579,1.504,1.505,..
12,"Mortality rate, under-5 (per 1,000)",SH.DYN.MORT,Spain,ESP,3.400000,3.3,3.3,3.3,3.3,3.3,3.2,..
13,"Mortality rate, under-5 (per 1,000)",SH.DYN.MORT,United States,USA,6.900000,6.8,6.7,6.6,6.5,6.4,6.3,..
14,"Mortality rate, under-5 (per 1,000)",SH.DYN.MORT,United Kingdom,GBR,4.500000,4.5,4.4,4.4,4.3,4.3,4.2,..
15,"Mortality rate, under-5 (per 1,000)",SH.DYN.MORT,Sweden,SWE,2.900000,2.9,2.8,2.8,2.7,2.7,2.6,..
16,"Mortality rate, under-5 (per 1,000)",SH.DYN.MORT,Bulgaria,BGR,8.700000,8.2,7.7,7.3,7,6.6,6.1,..
17,"Mortality rate, under-5 (per 1,000)",SH.DYN.MORT,Russian Federation,RUS,8.900000,8.2,7.5,6.9,6.3,5.8,5.4,..
18,"Mortality rate, adult (per 1,000)","(Mortality rate, adult (per 1,000))",Spain,ESP,57.998500,57.9025,56.037,55.352,54.5515,..,..,..
19,"Mortality rate, adult (per 1,000)","(Mortality rate, adult (per 1,000))",United States,USA,105.635500,107.377,110.3215,110.6205,109.0985,108.689,..,..
20,"Mortality rate, adult (per 1,000)","(Mortality rate, adult (per 1,000))",United Kingdom,GBR,68.775500,69.3335,70.4095,68.852,70.861,..,..,..
21,"Mortality rate, adult (per 1,000)","(Mortality rate, adult (per 1,000))",Sweden,SWE,54.481000,53.4415,51.812,51.186,50.2465,47.9345,48.7595,..
22,"Mortality rate, adult (per 1,000)","(Mortality rate, adult (per 1,000))",Bulgaria,BGR,139.261500,136.0675,136.8615,135.226,..,..,..,..
23,"Mortality rate, adult (per 1,000)","(Mortality rate, adult (per 1,000))",Russian Federation,RUS,220.931000,..,..,..,..,..,..,..
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"Data from Database: Estadísticas sobre salud, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Last Updated: 04/27/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
data = pd.read_excel('')